
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif !important;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background: black;
    color: white;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 2% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.navbar{
    position: relative;
    top: 0%;
    left: 0%;
    display: flex;
    gap: 5px;
}

.navbar a{
    
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    margin-left: 4rem;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover, .navbar a.active{
    border-bottom: 3px solid #04f430;
    color: #04f430;
}


.logo{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 800;
}

.logo:hover{
    transform: scale(1.1);
}

.logo span{
    color: #04f430;
    text-shadow: 0 0 30px #04f430;
}

section{
    min-height: 100vh;
    padding: 10rem 10rem;
    padding-left: 1%;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 5rem;
    gap: 5rem;
}
span{
    color: #04f430;
}

.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    top: 4rem;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px #04f430;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-img img:hover{
    box-shadow: 0 0 25px #04f430,
                0 0 50px #04f430,
                0 0 100px #04f430
}

.soustitre{
    display: flex;
    flex-direction: row;
}

.heading{
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}

.education{
    padding: 100px 15px;
    background-color: black;
}

.formation h2{
    margin-bottom: 5rem;
}

.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex: wrap;
    position: relative;
}

.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #04f430;
    left: calc(50% - 1px);
}

.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: #04f430;
    box-shadow: 0 0 25px #04f430
                0 0 50px #04f430; 
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}

.timeline-content{
    background-color: black;
    border:3px solid #04f430;
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px #04f430;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px #04f430;
}

.timeline-content h3{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
}

.timeline-content p{
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: #04f430;
}

::webkit-scollbar-track{
    background-color: black;
    width: 50px;
}
.footer{
    width: 100%;
    background-color: #14CE36;
}

@keyframes reflect {
    0% {
        background-position: -100%;
    }
    100% {
        background-position: 100%;
    }
}

.highlight-reflect {
    display: inline-block;
    color: #14CE36; /* Couleur verte pour le texte */
    font-weight: bold;
    position: relative;
    background-image: linear-gradient(90deg, #007224, #14CE36, #007224); /* Reflet vert clair */
    background-size: 200% 100%;
    background-position: -100%;
    animation: reflect 2s ease-in-out infinite; 
    -webkit-background-clip: text; 
    color: transparent; 
}

.intro{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20vh;
}

.card-ap{
    padding: 10%;
    background-color: #14CE36;
    transition: all 0.15s ease-out;
}

.carte{
    width: 50vh;
    height: 52vh;
    perspective: 1000px;
    position: relative;
    margin: 20px auto;

}


.glow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 0%, rgba(184, 196, 211, 0.5), rgba(0, 255, 0, 0) 70%);
    pointer-events: none; 
    z-index: 2; 
    mix-blend-mode: screen; 
}

