:root {
    --main-color: #04F430;
    --secondary-color: #14CE36;
    --background-color: black;
    --background-color-light: #F0F0F0;
    --background-color-dark: black;
    --write: white;
    --write-light: #212121;
    --write-dark: white;
    --fond-navbar: rgba(0, 0, 0, 0.3);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background: var(--background-color);
    color: var(--write);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 2% 4rem;
    background: var(--fond-navbar);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

body[data-theme="light"] .header {
    background: rgba(236, 235, 235, 0.1); /* Gris clair encore plus transparent */
    color: var(--write-light); 
}

.navbar{
    position: relative;
    top: 0%;
    left: 0%;
    display: flex;
    gap: 5px;
}

.navbar a{
    
    color: var(--write);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    margin-left: 4rem;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover, .navbar a.active{
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
}

#icon{
    cursor: pointer;
}

.logo{
    color: var(--write);
    text-decoration: none;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 800;
}

.logo:hover{
    transform: scale(1.1);
    color: var(--write);
}

.logo span{
    color: var(--main-color);
    text-shadow: 0 0 30px var(--main-color);
}

.auto-type {
    color: var(--write); 
}


.intro-titre{
    color: var(--write);
}

section{
    min-height: 100vh;
    padding: 10rem 10rem;
    padding-left: 1%;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 5rem;
    gap: 3rem;
}
span{
    color: var(--main-color);
}

.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.social-media a{
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 2.5rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.social-media a:hover{
    color: var(--background-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}

.btn-group{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.btn-group a{
    display: inline-block;
    text-decoration: none;
    border: 2px solid var(--main-color);
    background-color: var(--background-color);
    border-radius: 25px;
    color: var(--main-color);
    padding: 15px;
    font-size: 15px;
    font-weight: 800;
    transition: 0.3s ease-in-out;
}

.btn-group a:hover {
    background-color: var(--main-color);
    border-radius: 25px;
    color: var(--background-color);
    box-shadow: 0 0 35px var(--main-color);
    transform: scale(1.1);

}


.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    top: 4rem;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color)
}

.soustitre{
    display: flex;
    flex-direction: row;
}

.soustitre h2{
    font-size: 25px;
}

.heading{
    font-size: 8rem;
    text-align: center;
    margin: 3rem 0;
}

.education{
    padding: 100px 15px;
    background-color: var(--background-color);
}

.formation h2{
    margin-bottom: 5rem;
}

.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 1px);
}

.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color)
                0 0 50px var(--main-color); 
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: var(--write);
    margin: 6px 0 15px;
}

.timeline-content{
    background-color: var(--background-color);
    border:3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}

.timeline-content h3{
    font-size: 20px;
    color: var(--write);
    margin: 0 0 10px;
    font-weight: 500;
}

.timeline-content p{
    color: var(--write);
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

::webkit-scollbar-track{
    background-color: var(--background-color);
    width: 50px;
}
.footer{
    width: 100%;
    background-color: var(--main-color);
}

@keyframes reflect {
    0% {
        background-position: -100%;
    }
    100% {
        background-position: 100%;
    }
}

.highlight-reflect {
    display: inline-block;
    color: var(--secondary-color); /* Couleur verte pour le texte */
    font-weight: bold;
    position: relative;
    background-image: linear-gradient(90deg, #007224, var(--secondary-color), #007224); /* Reflet vert clair */
    background-size: 200% 100%;
    background-position: -100%;
    animation: reflect 2s ease-in-out infinite; 
    -webkit-background-clip: text; 
    color: transparent; 
}

.intro {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0; 
}

.intro img{
    width: 80vh;
    position: relative;
}

.carte {
    flex: 1;
    width: 70vh; 
    height: 40vh;
    perspective: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;

}

.card-ap {
    padding: 5%;
    background-color: var(--secondary-color);
    transition: all 0.15s ease-out;
}

.card-ap p {
    font-size: 15px;
    text-align: justify;
}

.card-ap h2 {
    font-size: 25px;
}

.glow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 0%, rgba(184, 196, 211, 0.5), rgba(0, 255, 0, 0) 70%);
    pointer-events: none; 
    z-index: 2; 
    mix-blend-mode: screen; 
}

.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
}

.banner .slider {
    position: absolute;
    width: 150px;
    height: 200px;
    top: 10%;
    left: calc(50% - 75px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    cursor: pointer;
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(450px);
    
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.banner .slider .item .skill-name {
    position: absolute;
    bottom: -40px;  
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
    color: var(--write);
    border: 2px solid var(--main-color);
    padding: 5px;
    border-radius: 5px;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
}

.banner .slider .item:hover .skill-name{
    background-color: var(--main-color);
    color: var(--write);
}


.banner .slider .item .skill-name {
    opacity: 1;  
}


.experience-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 5%;
}
.wrapper{
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    margin-top: 5rem;
    overflow: hidden;
}

.wrap{
    width: 200px;
    height: 100px;
    position: absolute;
    display: flex; 
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.wrap img {
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain; 
}

.wrap{

    left: max(calc(200px*7), 100%);
    animation-name: scrollleft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scrollleft{
    to{
        left: -200px;
    }
}

.item1{
    animation-delay: calc(30s / 7 * (7 - 1)* -1);
}

.item2{
    animation-delay: calc(30s / 7 * (7 - 2)* -1);
}

.item3{
    animation-delay: calc(30s / 7 * (7 - 3)* -1);
}

.item4{
    animation-delay: calc(30s / 7 * (7 - 4)* -1);
}

.item5{
    animation-delay: calc(30s / 7 * (7 - 5)* -1);
}

.item6{
    animation-delay: calc(30s / 7 * (7 - 6)* -1);
}

.item7{
    animation-delay: calc(30s / 7 * (7 - 7)* -1);
}

.comp h3 {
    font-size: 30px;
    font-weight: 500;
    padding: 10px;
    position: relative;
    margin-bottom: 100px;
}

.comp h3::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 11%; 
    transform: translateX(-50%);
    width: 20%; 
    height: 5px; 
    background-color: var(--main-color); 
}


.experience img{
    width: 50vw;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.grid-card{
    border: 2px solid var(--main-color);
    border-radius: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition: 0.2s ease-in-out ;
}

.grid-card h1{
    color: var(--main-color);
    font-weight: 800;
}

.grid-card:hover {
    transform: scale(1.02);
    background-color: var(--main-color);
    color: var(--background-color);
}

.grid-card:hover h1{
    color: var(--background-color);
}

.grid-card h2{
    font-weight: 800;
}

.grid-card h3{
    font-weight: 800;
}

.grid-card p{
    font-size: 15px;
}

.form-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.form-contact .input-group, .input-group2, .input-group3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}


.form-contact .input-box{
    width: 100vh;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 4rem;
}


.form-contact .input-group input, .input-group2 input{
    width: 100%;
    padding: 1.5rem;
    background-color: rgb(52, 50, 50);
    border: 2px solid var(--main-color);
    border-radius: 2rem;
    color: var(--main-color);
    font-size: 1.5rem;
    box-shadow: 0 0 15px var(--main-color);
}

.input-group input::placeholder,
.input-group2 input::placeholder,
.input-group3 textarea::placeholder{
    color: var(--main-color)51;
    font-size: 1.5rem;
}

.form-contact .input-group3 textarea{
    width: 100%;
    height: 25vh;
    padding: 1.5rem;
    background-color: rgb(52, 50, 50);
    border: 2px solid var(--main-color);
    border-radius: 2rem;
    color: var(--main-color);
    font-size: 1.5rem;
    box-shadow: 0 0 15px var(--main-color);
}

#btn-envoie{
    background-color: var(--secondary-color);
    color: var(--background-color);
    font-size: 2rem;
    border: 1px solid var(--main-color);
    box-shadow: 0 0 15px var(--main-color);
}

#btn-envoie:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--main-color),
                0 0 20px var(--main-color),
                0 0 25px var(--main-color);
    transition: 0.2s ease-in-out;
}

#btn-envoie:active{
    transform: scale(1);
    box-shadow: 0 0 15px var(--main-color);
}


.container-project {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 5rem; 
    justify-items: center;
    padding: 1rem;
}

.project-card{
    height: 250px;
    width: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 80px 73px -90px var(--main-color);
    position: relative;
    transition: 0.8s;
    margin: 0px;
    cursor: pointer;
}

.project-card img{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.7s ease-in-out;
    filter: grayscale(1);
    z-index: 1;
}

.project-card:hover img{
    width: 150%;
    filter: grayscale(0);
}


.project-card:hover{
    transform: translateY(-30px);
    box-shadow: 0 60px 70px -30px var(--main-color);
}

.content-project{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--background-color);
    text-align: center;
    padding: 20px 0;
    transition: 0.8s;
    backdrop-filter: blur(0px);
    transform: translateY(50%);
    z-index: 2;
    background-color: var(--main-color);
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.699);
}

.project-card:hover .content-project{
    backdrop-filter: blur(10px);
    transform: translateY(0);

}

.content-project h2{
    margin: 0;
    font-weight: 800;
}


.content-project .social{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.content .social .item{
    border-right: 1px solid #fff5;
}

.content .social .item:nth-last-child(1){
    border-right: 1px solid #fff5;
}

.content-project .social .title{
    font-size: large;
    margin: 10px 0;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200vh;
    height: 135vh;
    background-color: var(--background-color);
}


.container .msgconf h1{
    font-size: 40px;
    font-weight: 800;
    color: var(--main-color);
}

.container .msgconf h2{
    font-size: 20px;
    font-weight: 800;
    color: var(--write);
}

.container .container-bas{
    width: 100vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.container .container-bas img{
    width: 150%;
    height: 90%;
    position: relative;
}

.container .container-bas a{
    border: 2px solid var(--main-color);
    background-color: var(--background-color);
    color: var(--write);
    border-radius: 15px;
    box-shadow: 0 0 15px var(--main-color);
    font-size: 20px;
    padding: 15px;
    transition: 0.3s ease-in-out;
}

.container a:hover{
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
    color: var(--background-color);
    border-radius: 15px;
    box-shadow: 0 0 15px var(--main-color)
                0 0 25px var(--main-color);
    transform: scale(1.1);
}

.veille-container{
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 100px;
}

.veille-container h3{
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

.veille-container .intro-veille{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -100px;
    gap: 2rem;
}

.veille-container .intro-veille p{
    font-size: 20px;
    text-align: justify;
}

.veille-container .intro-veille img{
    width: 50%;
    height: auto; 
    margin-bottom: 0; 
    
}

